<!--The content below is only a placeholder and can be replaced.-->
<div  style="text-align:center">
  <h1>
    BDB
  </h1>
  <img width="130" alt="Angular Logo" src="https://lh3.googleusercontent.com/WG321vm0_JyUER9pLmwd6oeJEXx2Nt7LObctyq4Igiu9YyTRRIFJLOL-o7H4ORrBMQ=s180-rw">
</div>
<br>
<div class="container text-center">
  <button (click)="Listar()" class="btn btn-info">Listar</button>
  <button (click)="Nuevo()" class="btn btn-info" style="margin-left: 10px;">Nuevo</button>
</div>
<hr>
<router-outlet></router-outlet>
