<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Agregar Usuarios</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="">Nombres:</label>
          <input [(ngModel)]="persona.name" name="name" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Apellidos:</label>
          <input [(ngModel)]="persona.apellidos" name="apellidos" type="text" class="form-control">
        </div>
        <button (click)="Guardar()" class="btn btn-danger">Guardar</button>
      </form>
    </div>
  </div>
</div>
