<div class="container">
  <div class="card">
    <div class="card-header">
      <h4>Listado</h4>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellidos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of personas" class="text-center">
            <td>{{persona.id}}</td>
            <td>{{persona.name}}</td>
            <td>{{persona.apellidos}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
